
@{
    ViewBag.Title = "SysMessage";
    Layout = "~/Views/Shared/_AreasLayout.cshtml";
}
<script src="/Assets/bootstrap-paginator/bootstrap-paginator.min.js"></script>
<section class="content">
    <!-- 部门树和部门成员列表 -->
    <div class="row">

        <!-- 部门人员表 -->
        <div class="col-sm-8">

            <div class="box box-danger">
                <!-- body Header -->
                <div class="box-header new-box-header">
                    <h3 class="box-title title-a">报废提醒</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>

                <!-- 人员列表 -->
                <div class="box-body" id="userListDiv">
                    <div class="dataTables_wrapper form-inline">
                        <!-- 人员列表 -->
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="tableUser" class="table table-bordered table-striped dataTable" role="grid">
                                    <thead>
                                        <tr role="row" class="row-bkg">
                                            <th class="sorting_asc">序号</th>
                                            <th class="sorting">资产名称</th>
                                            <th class="sorting">资产编号</th>
                                            <th class="sorting">动态编码</th>
                                            <th class="sorting">计量单位</th>
                                            <th class="sorting">数量</th>
                                           
                                            <th class="sorting">取得日期</th>

                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <!-- 分页 -->
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="dataTables_info" id="example1_info" role="status" aria-live="polite"></div>
                            </div>
                            <div class="col-lg-7">
                                <ul id="divUserPager"></ul>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-body -->



            </div><!-- /.box-header -->
        </div>
    </div>
</section>
<script type="text/javascript">

    /*window.OnDeptSelected = function (dept) {
        $("#UserDeptId").val(dept.DeptId);
        $("#UserDeptName").val(dept.DeptName);
    };*/

    function loadUser(pageIndex) {
        $.post("/SysManage/SysManage/GetAllMessage?pageIndex=" + pageIndex, function (result) {
            $("#tableUser tbody").empty();
            $(result.Items).each(function (index, item) {
                var row = $(" <tr role='row'>");
                row.append('<td>' + item.EntityId + '</td>');
                row.append('<td>' + item.GoodsName + '</td>');
                row.append('<td>' + item.AssetsNum + '</td>');
                row.append('<td>' + item.UsedNum1 + '</td>');
                row.append('<td>' + item.MeasurementUnits + '</td>');
                row.append('<td>' + item.Counts + '</td>');
                row.append('<td>' + item.GetDate + '</td>');
                
                $("#tableUser tbody").append(row);
            });

          

            $("#example1_info").text("显示 " + result.StartRecordIndex + " 到 " + result.EndRecordIndex + " , 总共 " + result.TotalItemCount);

            if (result.TotalPageCount <= 1) {
                $('#divUserPager').empty();
                return;
            }
            var options = {
                bootstrapMajorVersion: 3, //版本
                numberOfPages: 8,
                currentPage: result.CurrentPageIndex,
                totalPages: result.TotalPageCount,
                itemTexts: function (type, page, current) {
                    switch (type) {
                        case "first":
                            return "首页";
                        case "prev":
                            return "上一页";
                        case "next":
                            return "下一页";
                        case "last":
                            return "末页";
                        case "page":
                            return page;
                    }
                }, //点击事件，用于通过Ajax来刷新整个list列表
                onPageClicked: function (event, originalEvent, type, page) {
                    loadUser(page);
                }
            };
            $('#divUserPager').bootstrapPaginator(options);
        });
    }

   
    $(function () {
        loadUser(1);
    });
</script>

